<div class="grid_6">
	Найти
</div>
<div class="grid_6">
	<%= form_tag ('/adding') do %>
	<%= text_field_tag :title %>
	<%= submit_tag 'Тыц!' %>
	<% end %>
	<% if current_user %>
		<% current_user.books.each do |b| %>
			<%= b.title %>
		<% end %>
	<% end %>
</div>
